* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
}
main {
    min-height: 100vh;
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: auto;
}

.glass {
    min-width: 670px;
    min-height: 400px;
    background: white;
    min-height: 80vh;
    width: 60%;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    border-radius: 2rem;
    z-index: 3;
    backdrop-filter: blur(2rem);
    display: flex;
}

.cicle1, .cicle2 {
    background: white;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    height: 15rem;
    width: 15rem;
    position: absolute;
    z-index: 2;
    border-radius: 50%;
}

img {
    height: 50px;
    width: 50px;
}

.cicle1 {
    top: 5%;
    right: 15%;
}

.cicle2 {
    bottom: 5%;
    left: 10%;
}

.dashbord {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    border-radius: 2rem;
}
.dashbord img{
    border-radius: 40%;
}

.dashbord .head h3{
    margin-bottom: 00.5rem;
    
}
.dashbord p{
    font-weight: 200;
    font-style: oblique;
    font-family: 'Zhi Mang Xing', cursive;
}
.link {
    display: flex;
    margin: 1rem 0rem;
    padding: 1rem 3rem;
    font-size: 15px;
    cursor: pointer;
}

.link img {
    width: 1.5rem;
    height: 1.5rem;
}

.link h2 {
    margin-left: 10px;
}

.pro {
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    border-radius: 2rem;
    color: white;
    padding: 1rem;
    /* display: flex; */
    width: 90%;
    position: relative;
}

.pro img {
    width: 100px;
    height: 50px;
    border-radius: 0.7rem;
}
.pro h2{
    font-family: 'Zhi Mang Xing', cursive;
}
h1 {
    color: #426696;
    font-weight: 600;
    font-size: 3rem;
    opacity: 0.8;
}

h2 {
    color: #658ec6;
    font-weight: 600;
    opacity: 0.8;
}

h3 {
    color: #426696;
    font-weight: 600;
    opacity: 0.8;
}

.jobs {
    flex: 2;
}

.status {
   
}

.status input {
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    border: none;
    width: 50%;
    padding: 0.5rem;
    border-radius: 2rem;
}

.jobs {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 3rem;
    margin-right: 3rem;
    overflow-x: scroll;
    overflow: hidden;
}
.status h1{
    margin-bottom: 0.5rem;
    font-family: 'Zhi Mang Xing', cursive;
}
.card {
    display: flex;
    background: linear-gradient(to left top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.8));
    border-radius: 1rem;
    margin: 2rem 0rem;
    padding: 2rem;
    box-shadow: 6px 6px 10px rgba(122, 122, 122, 0.2);
    justify-content: space-between;
}
.card img{
    width: 50px;
    height: 50px;
    border-radius: 0.5rem;
}
.card h2{
    font-family: Verdana;
}
.card-info {
    flex: 2;
    margin: 0rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.progress {
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    width: 100%;
    height: 25%;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
}

/* .progress::after {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(236, 236, 236);
    position: absolute;
    left: 90%;
} */
.progress1::after{
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(236, 236, 236);
    position: absolute;
    left: 90%;
}
.progress2::after{
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(236, 236, 236);
    position: absolute;
    left: 30%;
}
.progress3::after{
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(236, 236, 236);
    position: absolute;
    left: 10%;
}

.percentage {
    font-weight: bold;
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    -webkit-background-clip: text;
}